{% extends 'base.html'%}

{% load static %}

{% block head %}
<title>Login</title>
{% endblock%}

{% block body%}
<div class="container", style="max-width:350px">
    </br>
<div class='card'>
    <div class='card-header'><h2 id="login-header">You can log in here</h2>
    <div style="float:center;" class='card-body'>
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <div style="text-align:center;"><button id="login-submit-button" bype="submit">Login</button></div>
    </form>
    </div>
</div>
</br>
</div>
{% endblock %}